<h3>Index of All Galleries</h3>

<%= link_to 'Create New Gallery', new_gallery_path %>

<div class="row">
  <ul class="small-block-grid-3">
    <% @galleries.each do |gallery| %>
      <li><%= gallery.title %></li>
    <% end %>
  </ul>
</div>
