<div class="row">  
  <div class="large-12">
    <%= form_for @gallery do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.submit "Add Gallery" %>
    <% end %>
  </div>
</div>
